html {
    background-color: white;
    cursor: pointer;
}

body {
    background-color: #fff3cc;
    font-family: "Times New Roman";
    font-size: 20px;
    line-height: 1.5;
    margin: auto auto;
    max-width: 900px;
    width: 100%;
}
.container{
    max-width: 850px;
    margin-left: 15%;
    font-size: 26px;
}
a{
    font-size: 20px;
}
.send{
    max-width: 600px;
    width: 600px;
    margin: auto;
}
